body {
    margin: 10px;
    width: 100%;
}

article{
    margin-bottom: 10px;
}

#calculator {
    align-self: center;
    border-spacing: 0;
}

#calculator tr td input {
    width: 100px;
    background-color: aqua;
    padding: 28px;
    font-size: x-large;
}

li {
    list-style: none;
}

#title_panel {
    padding-bottom: 200px;
    background-image: url(download.jpeg);
    color: aliceblue;
}

#solution {
    background-color:cornsilk;
    padding-bottom: 50px;
    width: 100%;
    font-size: 100px;
}