body {
    margin: 10px;
    width: 100%;
}

article{
    margin-bottom: 10px;
}

.bgray {
    background-color: gray;
}

#calculator {
    align-self: center;
    border-spacing: 0;
    margin: 0 25% 25% 25%;
}

#calculator tr td input {
    width: 100px;
    background-color: aqua;
    padding: 28px;
    font-size: x-large;
}

li {
    list-style: none;
}

#title_panel {
    padding-bottom: 200px;
    background-image: url(download.jpeg);
    color: aliceblue;
}

#solution {
    background-color:cornsilk;
    padding-bottom: 50px;
    width: 100%;
    font-size: 100px;
}

#calculator table {
    margin:0 0 25% 25%;
}

#calculator h1 {
    text-align: center;
}

#table_reports tbody td {
    font-size: xx-large;
}